* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 1.5rem;
  margin-left: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

h2 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

.question-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.question-text {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.choices-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.choice {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.choice:hover {
  background: #333333;
  color: white;
}

.submit-button,
.restart-button,
.view-answers-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.submit-button:hover,
.restart-button:hover,
.view-answers-button:hover {
  background-color: #0056b3;
}

.results-container {
  display: none;
  margin-top: 20px;
}

.timer-hint {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* Center modal vertically and horizontally */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 600px;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
